{
	"theme-name": {
		"src": "vendor/logicspot/theme-name",
		"dest": "pub/static/frontend/logicspot/theme-name",
		"locale": ["en_GB"],
		"ignore": [".test"],
	},
	"all-possible-options": {
		"src": "vendor/snowdog/theme-all-possible-options",
		"dest": "pub/static/frontend/Snowdog/all-possible-options",
		"locale": ["en_GB"],
		"localeOverwrites": true,
		"parent": "blank",
		"stylesDir": "web/css",
		"postcss": ["plugins.autoprefixer()"],
		"ignore": [
			"*.xml"
		]
	}
}
